# TorXakis - Model Based Testing
# Copyright (c) 2015-2017 TNO and Radboud University
# See LICENSE at root directory of this repository.

build: off
skip_tags: true

version: pre-0.8.0.{build}.{branch}
# branches:
    # only:
    # - develop
    # - /^hotfix.*$/

init:
- ps: Write-Host Starting init at $(Get-Date)
- ps: $env:Path += ";C:\Program Files\Git\mingw64\bin"
- ps: $CACHE_DIR = "C:\TorXakis\.cache"
- ps: $CACHE_DIR_REL = ".cache"
- ps: $env:Path += ";${CACHE_DIR};${CACHE_DIR}\z3\bin;C:\Users\appveyor\AppData\Roaming\local\bin"
- mkdir %LOCALAPPDATA%\Programs\stack
- mkdir %LOCALAPPDATA%\Programs\stack\x86_64-windows

install:
- ps: Write-Host Starting install at $(Get-Date)
- ps: if (-not (Test-Path "$CACHE_DIR")) { mkdir $CACHE_DIR} else { Write-Host "$CACHE_DIR found." }
# obtain the stack executable
- ps: |
    if (-not (Test-Path "$CACHE_DIR\stack.exe")) {
        curl -OutFile stack.zip http://www.stackage.org/stack/windows-i386 -Verbose
        7z x $("-o" + $CACHE_DIR) stack.zip stack.exe
    } else {
        Write-Host "stack.exe found.";
    }
- ps: Write-Host $(stack --version)
- ps: |
    if (-not (Test-Path "$CACHE_DIR\cvc4.exe")) {
        # obtain the cvc4 executable
        curl -OutFile $("$CACHE_DIR\cvc4.exe") https://github.com/TorXakis/Dependencies/releases/download/cvc4_1.6/cvc4-1.6-win64-opt.exe -Verbose
    } else {
        Write-Host "cvc4.exe found.";
    }
- ps: Write-Host $(cvc4 --version)
- ps: |
    if (-not (Test-Path "$CACHE_DIR\z3")) {
        # install z3
        curl -OutFile z3.zip https://github.com/TorXakis/Dependencies/releases/download/z3-4.7.1/z3-4.7.1-x64-win.zip -Verbose
        mkdir $CACHE_DIR\z3
        7z x $("-o${CACHE_DIR}\z3\") z3.zip
        move ${CACHE_DIR}\z3\z3-*\* ${CACHE_DIR}\z3
    } else {
        Write-Host "z3 folder found.";
    }
- ps: Write-Host $(z3 -version)

before_build:
- ps: $env:CACHE_DIR = $CACHE_DIR
- ps: $env:CACHE_DIR_REL = $CACHE_DIR_REL

build_script:
- ps: Write-Host Starting build at $(Get-Date)
- ps: |
    $tryCount = 1
    do {
        Write-Host Try $tryCount
        $tryCount++
        cmd /c "stack install --pedantic --install-ghc --test --no-terminal --stack-root %STACK_ROOT% 2>&1"
    } While ((!$?) -and ($tryCount -le 10))

# after_build:
# -

# before_test:
# - 

clone_folder: c:\TorXakis
environment:
  global:
    STACK_ROOT: c:\TorXakis\.stack-root

cache:
- .stack-root -> stack.yaml
- .cache -> stack.yaml
- '%LOCALAPPDATA%\Programs\stack\x86_64-windows\ghc-integersimple-8.2.2'
- '%LOCALAPPDATA%\Programs\stack\x86_64-windows\ghc-integersimple-8.2.2.installed'
- '%LOCALAPPDATA%\Programs\stack\x86_64-windows\msys64'
- '%LOCALAPPDATA%\Programs\stack\x86_64-windows\msys64.installed'
- .stack-work -> stack.yaml
# - packages -> **\packages.config  # preserve "packages" directory in the root of build folder but will reset it if packages.config is modified

test_script:
- ps: Write-Host $(dir -Recurse %LOCALAPPDATA%\Programs\stack\x86_64-windows)
- ps: Write-Host Starting test at $(Get-Date)
- ps: pushd test/sqatt
- ps: |
    $tryCount = 1
    do {
        Write-Host Try $tryCount
        $tryCount++
        cmd /c "stack build --install-ghc --no-terminal --stack-root %STACK_ROOT% --stack-yaml stack_appveyor.yaml 2>&1"
    } While ((!$?) -and ($tryCount -le 10))
- stack test --test-arguments="--skip=#model" --no-terminal --stack-root %STACK_ROOT% --stack-yaml stack_appveyor.yaml
- ps: popd

# after_test:
