# TorXakis - Model Based Testing
# Copyright (c) 2015-2017 TNO and Radboud University
# See LICENSE at root directory of this repository.

build: off
skip_tags: true

version: pre-0.5.0.{build}.{branch}
# branches:
    # only:
    # - develop
    # - /^hotfix.*$/

init:
- ps: $env:Path += ";C:\Program Files\Git\mingw64\bin"
- ps: $CACHE_DIR = "C:\TorXakis\.cache"
- ps: $CACHE_DIR_REL = ".cache"
- ps: $env:Path += ";${CACHE_DIR};${CACHE_DIR}\z3\bin;C:\Users\appveyor\AppData\Roaming\local\bin"
- mkdir %LOCALAPPDATA%\Programs\stack
- mkdir %LOCALAPPDATA%\Programs\stack\x86_64-windows

install:
- ps: if (-not (Test-Path ".cache")) { mkdir .cache} else { Write-Host ".cache found." }
# obtain the stack executable
- ps: |
    if (-not (Test-Path "$CACHE_DIR\stack.exe")) {
        curl -OutFile stack.zip http://www.stackage.org/stack/windows-i386 -Verbose
        7z x $("-o" + $CACHE_DIR) stack.zip stack.exe
    } else {
        Write-Host "stack.exe found.";
    }
- stack --version
- ps: |
    if (-not (Test-Path "$CACHE_DIR\cvc4.exe")) {
        # obtain the cvc4 executable
        curl -OutFile $("$CACHE_DIR\cvc4.exe") https://github.com/TorXakis/Dependencies/releases/download/cvc4_1.5/cvc4-1.5-win32-opt.exe -Verbose
    } else {
        Write-Host "cvc4.exe found.";
    }
- ps: |
    if (-not (Test-Path "$CACHE_DIR\z3")) {
        # install z3
        curl -OutFile z3.zip https://github.com/TorXakis/Dependencies/releases/download/z3-4.5.1/z3-4.5.1.059bad909ad4-x64-win_20170905.zip -Verbose
        mkdir $CACHE_DIR\z3
        7z x $("-o${CACHE_DIR}\z3\") z3.zip
    } else {
        Write-Host "z3 folder found.";
    }

before_build:
- ps: $env:CACHE_DIR = $CACHE_DIR
- ps: $env:CACHE_DIR_REL = $CACHE_DIR_REL

build_script:
- stack install --pedantic --install-ghc --test --fast --no-terminal --work-dir %CACHE_DIR_REL%\.stack-work --stack-root %STACK_ROOT%

# after_build:
# - 

# before_test:
# - 

clone_folder: c:\TorXakis
environment:
  global:
    STACK_ROOT: c:\TorXakis\.cache\.stack

cache:
- .cache
- '%LOCALAPPDATA%\Programs\stack\x86_64-windows\ghc-8.0.2'
- '%LOCALAPPDATA%\Programs\stack\x86_64-windows\ghc-8.0.2.installed'
- '%LOCALAPPDATA%\Programs\stack\x86_64-windows\ghc-integersimple-8.0.2'
- '%LOCALAPPDATA%\Programs\stack\x86_64-windows\ghc-integersimple-8.0.2.installed'
- '%LOCALAPPDATA%\Programs\stack\x86_64-windows\msys2-20150512'
- '%LOCALAPPDATA%\Programs\stack\x86_64-windows\msys2-20150512.installed'
# - packages -> **\packages.config  # preserve "packages" directory in the root of build folder but will reset it if packages.config is modified

test_script:
- ps: pushd test/sqatt
- stack test --install-ghc --test-arguments="--skip=#model" --no-terminal --work-dir %CACHE_DIR_REL%\test\.stack_work --stack-root %STACK_ROOT%
- ps: popd

# after_test:
