#stack working directory
.stack-work

# Compiled class file - test
*.class

# Log files
*.log

# SMT Solver output
*.smt2

# IDE files and folders
.settings
.idea
*.iml
out/
TAGS
*.swp

# SemaphoreCI cache folders
.semaphore-cache

# Sphinx build folders
docs/wiki/_build

# TorXakis traces generated while running `sqatt`

/*Proc.txs
/*Purpose.txs